$font-weight: (
  bold: 700,
  normal: 400,
  light: 300,
);

$line-height: (
  small: 1,
  normal: 1.5,
);

$font-family: "Poppins", sans-serif;

$font-size: (
  small: 13px,
  medium: 14px,
  medium-large: 16px,
  large: 24px,
  extra-large: 32px,
  extra-extra-large: 72px,
);

$color: (
  primary: #fbb03b,
  gray-3: #808080,
  gray-2: #c4c4c4,
  gray-1: #f6f6f6,
  beige: #fff3df,
  white: #fff,
  black: #000,
  red: #ff0000,
);
