.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;

  &-cart {
    background-image: url("../../assets/img/ic-cart.svg");
  }

  &-email {
    background-image: url("../../assets/img/ic-email.svg");
  }

  &-phone {
    background-image: url("../../assets/img/ic-phone.svg");
  }

  &-location {
    background-image: url("../../assets/img/ic-location.svg");
  }
}
