/* Reset all styles to their default values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font family and size */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

br {
  margin: 0 5px;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

/* flex-box */
.d-flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-space-between {
  justify-content: space-between;
}

.wrap-txt {
  flex-wrap: wrap;
}

.flex-rows {
  flex-direction: row;
}

.flex-cols {
  flex-direction: column;
}

/* row cols */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 0 10px;
}

.col.col-1 {
  width: 8.333333%;
}
.col.col-2 {
  width: 16.666667%;
}
.col.col-3 {
  width: 25%;
}
.col.col-4 {
  width: 33.333333%;
}
.col.col-5 {
  width: 41.666667%;
}
.col.col-6 {
  width: 50%;
}
.col.col-7 {
  width: 58.333333%;
}
.col.col-8 {
  width: 66.666667%;
}
.col.col-9 {
  width: 75%;
}
.col.col-10 {
  width: 83.333333%;
}
.col.col-11 {
  width: 91.666667%;
}
.col.col-12 {
  width: 100%;
}

.margin-20 {
  margin: 20px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.center-text {
  text-align: center;
}

.gap-20 {
  gap: 20;
}

/* text */

.text-primary {
  color: var(--primary);
}

.text-danger {
  color: var(--red);
}

.text-gray {
  color: var(--cool-gray);
}

.wrapper-ic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  padding: 14px 18px;
  text-align: center;
  cursor: pointer;
}

.padding-section {
  padding: 48px 144px;
}

.margin-section {
  margin: 48px 144px;
}

.section-title {
  font-weight: 300;
  font-size: 32px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  .container {
    max-width: 327px !important;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
  }
  .col {
    padding: 4px;
  }
  /* .col-sm {
    padding:8px 4px;
  } */
  .col.col-sm-1 {
    width: 8.333333%;
  }
  .col.col-sm-2 {
    width: 16.666667%;
  }
  .col.col-sm-3 {
    width: 25%;
  }
  .col.col-sm-4 {
    width: 33.333333%;
  }
  .col.col-sm-5 {
    width: 41.666667%;
  }
  .col.col-sm-6 {
    width: 50%;
  }
  .col.col-sm-7 {
    width: 58.333333%;
  }
  .col.col-sm-8 {
    width: 66.666667%;
  }
  .col.col-sm-9 {
    width: 75%;
  }
  .col.col-sm-10 {
    width: 83.333333%;
  }
  .col.col-sm-11 {
    width: 91.666667%;
  }
  .col.col-sm-12 {
    width: 100%;
  }
  

  .banner-features {
    display: none !important;
  }

  .padding-section {
    padding: 24px;
  }

  .section-title{
    font-size: 18px;
  }
  
}
