.category-list {
  height: 360px;
}

li.category-item > div {
  /* Styles for direct child a elements of div.my-class */
  position: relative;
  height: 100%;

  background-size: cover;
  background-position: center;
  z-index: 0;
}

li.category-item > div::before {
  /* Styles for direct child a elements of div.my-class */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 60%;
}

li:nth-of-type(1) .category {
  /* Styles for first .my-class element */
  background-image: url("../assets/img/home-1.png");
}

li:nth-of-type(2) .category {
  /* Styles for second .my-class element */
  background-image: url("../assets/img/home-2.png");
}

li:nth-of-type(3) .category {
  /* Styles for third .my-class element */
  background-image: url("../assets/img/home-3.png");
}

.category-discount {
  top: 40%;
  left: 40px;
}

.category-desc {
  top: 50%;
  left: 40px;
  /* transform: translate(-5%, -20%); */
  font-size: 24px;
  font-weight: 300;
  color: var(--white);
  z-index: 1;
}

.category-btn {
  bottom: 10%;
  left: 40px;
  /* transform: translate(-10%, -20%); */
  z-index: 1;
  background-color: var(--white);
}

.side-item-category {
  max-width: 179px;
}

.category-btn {
  background-color: var(--white);
  padding: 14px 18px;
  border-radius: 32px;

  border: 1px solid var(--cool-gray) !important;
}

.badge-danger {
  color: var(--light-gray);
  font-size: 12px;
  font-weight: 700;
  background-color: var(--red);
  padding: 6px 9px;
  border-radius: 20px;
}

/* responsive */

@media only screen and (max-width: 768px) {
  .category-desc {
    left: 16px;
    max-width: 125px;
    font-size: 14px;
  }

  .side-item-category {
    max-width: 100px;
  }

  .category-btn {
    font-size: 10px;
    line-height: 1;
    padding: 5px 10px;
    left: 16px;
  }

  .category-discount {
    left: 16px;

  }

  .badge-danger {
    font-size: 8px;
    padding: 2px 4px;
    border-radius: 9px;
  }
}
