/* .header-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header-mobile{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--white);
}

.header-container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.header-icons-list {
  width: 120px;
} */

/* .nav {
  width: 300px;
}

.nav-item {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
} */

/* Responsive */

@media only screen and (max-width: 576px) {
  .logo{
    max-width: 20px;
  }
  .header-mobile {
    display: block;
    width: 100vw;
    height: 72px;
  }

  .header-desktop {
    display: none;
  }

  .nav {
    display: none !important;
  }
  .header-icons-list {
    max-width: 110px;
  }

  .header-container {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    width: 327px !important;
  }


}
