.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header-container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.header-icons-list {
  width: 120px;
}

.nav {
  width: 300px;
}

.nav-item {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
}

/* Responsive */

@media only screen and (max-width: 576px) {
  .nav {
    display: none !important;
  }
  .header-icons-list {
    width: 120px;
  }

  .header-container{
    justify-content: space-between;
    max-width: 327px;
  }

  .logo {
    max-width: 125px;
    max-height: 32px ;
  }
}
