/* header icon */
.search-icon {
  background-image: url("../assets/img/ic-search.svg");
}

.cart-icon {
  background-image: url("../assets/img/ic-cart.svg");
}

.user-icon {
  background-image: url("../assets/img/ic-user.svg");
}

.menu-icon {
  background-image: url("../assets/img/ic-menu.svg");
}

.search-icon,
.cart-icon,
.user-icon,
.menu-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* features icon */

.truck-icon {
  background-image: url("../assets/img/ic-truck-yellow.svg");
  position: relative;
}

.happy-icon {
  background-image: url("../assets/img/ic-happy.svg");
}

.guarantee-icon {
  background-image: url("../assets/img/ic-guarantee-yellow.svg");
}

.guarantee-icon,
.happy-icon,
.truck-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  fill: var(--primary) !important;
}


/* arrow icon */
.left-arrow-icon {
  background-image: url("../assets/img/ic-left-arrow.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.left-arrow-icon::after {
  padding: 10px;
  border-radius: 16px;
  background-color: var(--primary);
}


/* icon reason */

.shipping-icon {
  background-image: url("../assets/img/ic-truck.svg");
}

.payment-icon {
  background-image: url("../assets/img/ic-payment.svg");
}

.guarantee-icon-b {
  background-image: url("../assets/img/ic-guarantee.svg");
}

.quality-icon {
  background-image: url("../assets/img/ic-quality.svg");
}

.shipping-icon,
.payment-icon,
.guarantee-icon-b,
.quality-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  fill: var(--black) !important;
}

.free-ship-link:hover .shipping-icon {
  background-image: url("../assets/img/ic-truck-yellow.svg");
}

.free-ship-link:hover .service-title {
  color: var(--primary);
}

.payment-link:hover .payment-icon {
  background-image: url("../assets/img/ic-payment-hl.svg");
}

.payment-link:hover .service-title {
  color: var(--primary);
}

.guarantee-link:hover .guarantee-icon-b {
  background-image: url("../assets/img/ic-guarantee-yellow.svg");
}

.guarantee-link:hover .service-title {
  color: var(--primary);
}

.quality-link:hover .quality-icon {
  background-image: url("../assets/img/ic-quality-hl.svg");
}

.quality-link:hover .service-title {
  color: var(--primary);
}

/* icon wrapper */
.wrapper-ic-white {
  width: 55px;
  height: 55px;

  border-radius: 8px;
  background-color: var(--white);
}

.wrapper-ic-primary {
  width: 40px;
  height: 40px;

  background-color: var(--beige);
  border-radius: 12px;
}

@media only screen and (max-width: 768px) {
  .left-arrow-icon {
    width: 15px;
    height: 15px;
  }
}