/* header icon */
.icon-search {
  background-image: url("../assets/img/ic-search.svg");
}

.icon-cart {
  background-image: url("../assets/img/ic-cart.svg");
}

.icon-user {
  background-image: url("../assets/img/ic-user.svg");
}

.icon-search-black {
  background-image: url("../assets/img/ic-search-black.svg");
}

.icon-cart-black {
  background-image: url("../assets/img/ic-cart-black.svg");
}

.icon-user-black {
  background-image: url("../assets/img/ic-user-black.svg");
}

.icon-menu-black {
  background-image: url("../assets/img/ic-menu-black.svg");
}

.icon-search,
.icon-cart,
.icon-user,
.icon-menu,
.icon-cart-black,
.icon-user-black,
.icon-search-black {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* features icon */

.icon-truck {
  background-image: url("../assets/img/ic-truck-yellow.svg");
  position: relative;
}

.icon-happy {
  background-image: url("../assets/img/ic-happy.svg");
}

.icon-guarantee {
  background-image: url("../assets/img/ic-guarantee-yellow.svg");
}

.icon-guarantee,
.icon-happy,
.icon-truck {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  fill: var(--primary) !important;
}

/* arrow icon */
.icon-left-arrow {
  background-image: url("../assets/img/ic-left-arrow.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-left-arrow::after {
  padding: 10px;
  border-radius: 16px;
  background-color: var(--primary);
}

/* icon reason */

.icon-shipping {
  background-image: url("../assets/img/ic-truck.svg");
}

.icon-payment {
  background-image: url("../assets/img/ic-payment.svg");
}

.icon-guarantee-b {
  background-image: url("../assets/img/ic-guarantee.svg");
}

.icon-quality {
  background-image: url("../assets/img/ic-quality.svg");
}

.icon-shipping,
.icon-payment,
.icon-guarantee-b,
.icon-quality {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  fill: var(--black) !important;
}

.free-ship-link:hover .icon-shipping {
  background-image: url("../assets/img/ic-truck-yellow.svg");
}

.free-ship-link:hover .service-title {
  color: var(--primary);
}

.payment-link:hover .icon-payment {
  background-image: url("../assets/img/ic-payment-hl.svg");
}

.payment-link:hover .service-title {
  color: var(--primary);
}

.guarantee-link:hover .-icon-guarantee-b {
  background-image: url("../assets/img/ic-guarantee-yellow.svg");
}

.guarantee-link:hover .service-title {
  color: var(--primary);
}

.quality-link:hover .icon-quality {
  background-image: url("../assets/img/ic-quality-hl.svg");
}

.quality-link:hover .service-title {
  color: var(--primary);
}

/* icon wrapper */
.wrapper-ic-white {
  width: 55px;
  height: 55px;
  margin-bottom: 40px;

  border-radius: 8px;
  background-color: var(--white);
}

.wrapper-ic-primary {
  width: 40px;
  height: 40px;


  background-color: var(--beige);
  border-radius: 12px;
}

@media only screen and (max-width: 768px) {
  .icon-left-arrow {
    width: 15px;
    height: 15px;
  }

  .wrapper-ic-white {
    width: 55px;
    height: 55px;
    margin-bottom: 0;
  
    border-radius: 8px;
    background-color: var(--white);
  }
}
