.product-item {
  position: relative;
}



.product-price {
  font-weight: 300;
  font-size: 21px;
}

.product-name {
  font-weight: 300;
  font-size: 16px;
}

.recommended-btn {
  background-color: var(--white);
  padding: 15px 30px;
  border-radius: 32px;
  
  border: 1px solid var(--cool-gray) !important;
}

.badge-danger {
  color: var(--light-gray);
  font-size: 12px;
  font-weight: 700;
  background-color: var(--red);
  padding: 6px 9px;
  border-radius: 20px;
}

.product-discount {
  top: 5%;
  left: 10%;
}

