@import "./../base/variables";

.banner {
  
  &-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25vh;
    margin-left: 96px;
    z-index: 1;
  }
  &-button {
    max-width: 190px;
  }

  &-btn-desc {
    text-decoration: underline;
    font-size: map-get($font-size, md-2);
    color: map-get($color, white);
    font-weight: map-get($font-weight, bold);
  }

  &-title {
    font-size: map-get($font-size, lg-2);
    font-weight: map-get($font-weight, bold);
    color: map-get($color, white);
    line-height: map-get($line-height, small);
    max-width: 405px;
  }
}



@media only screen and (max-width: 768px) {
  .banner {
    &-desc {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      gap: 16px;
      position: relative;
      transform: translate(0, 30%);
    }
    &-title {
      max-width: 270px !important;
      font-size: 48px;
    }

  }
}