@import "./../base/variables";
@import "./../base/mixins";

.feature {
  &-list {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 125px;
    border-top-right-radius: 70px;
    padding-left: calc((100vw - 1152px) / 2 + 96px - 24px);
    padding-right: 64px;

    background-color: map-get($color, white);
  }

  &-item {
    display: flex;
    align-items: center;
    max-height: 125px;
    font-size: map-get($font-size, sm-1);
    padding: 24px;
    gap: 15px;
  }

  &-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;

    max-width: 180px;
  }

  &-name{
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, sm-2);
  }

  &-desc {
    color: map-get($color, gray-2);
    font-size: map-get($font-size, sm-1);
  }
}


@media only screen and (max-width: 768px) {
  .feature {
    &-list {
      display: none !important;
    }
  }
  }