@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

article {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  color: #485963;
}
article > h3 {
  color: #333333;
}
article > blockquote {
  color: #1c1e20;
  border-left: 4px solid #343a40;
  padding-left: 20px; /* add some padding to the left of the text */
}
article > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
article > ul li::before {
  content: "•"; /* use a bullet point character */
  font-size: 20px;
  margin-right: 10px;
}

figure > figcaption {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: #9ea0a8;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.icon.icon-cart {
  background-image: url("../../assets/img/ic-cart.svg");
}
.icon.icon-more {
  height: 8px;
  background-image: url("../../assets/img/ic-more.svg");
}
.icon.icon-like {
  width: 12px;
  height: 12px;
  background-image: url("../../assets/img/ic-like.svg");
}
.icon.icon-comment {
  width: 12px;
  height: 12px;
  background-image: url("../../assets/img/ic-comment.svg");
}
.icon.icon-facebook {
  width: 13px;
  height: 13px;
  background-image: url("../../assets/img/ic-fb.svg");
}
.icon.icon-insta {
  width: 13px;
  height: 13px;
  background-image: url("../../assets/img/ic-ig.svg");
}
.icon.icon-youtube {
  width: 13px;
  height: 13px;
  background-image: url("../../assets/img/ic-yt.svg");
}
.icon.icon-twitter {
  width: 13px;
  height: 13px;
  background-image: url("../../assets/img/ic-twitter.svg");
}
.icon.icon-twitter-share {
  background-image: url("../../assets/img/ic-twitter-rounded.svg");
}
.icon.icon-linkedin-share {
  background-image: url("../../assets/img/ic-linkedin-rounded.svg");
}
.icon.icon-fb-share {
  background-image: url("../../assets/img/ic-facebook-rounded.svg");
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.btn-dark {
  background-color: #333333;
  color: #ffffff;
  padding: 12px 18px;
}
.btn-dark-blog {
  background-color: #ffc017;
}

.btn-outline-transparent {
  background-color: transparent;
}

.badge {
  position: absolute;
  display: inline-block;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;
  border-radius: 4px;
}

.blog-tag {
  padding: 4px 8px;
  color: #485963;
  background-color: #F2F2F2;
  border-radius: 50px;
  transition: all 0.15s ease-in-out;
}
.blog-tag:hover {
  color: #ffffff;
  background-color: #ffc017;
}
.blog-tag-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.blog-tag-item {
  padding: 8px 0;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -15px;
}

.col {
  padding: 10px 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.row.row-cols-1 .col {
  width: 100%;
}

.row.row-cols-2 .col {
  width: 50%;
}

.row.row-cols-3 .col {
  width: 33.3333333333%;
}

.row.row-cols-4 .col {
  width: 25%;
}

.row.row-cols-5 .col {
  width: 20%;
}

.row.row-cols-6 .col {
  width: 16.6666666667%;
}

.row.row-cols-7 .col {
  width: 14.2857142857%;
}

.row.row-cols-8 .col {
  width: 12.5%;
}

.row.row-cols-9 .col {
  width: 11.1111111111%;
}

.row.row-cols-10 .col {
  width: 10%;
}

.row.row-cols-11 .col {
  width: 9.0909090909%;
}

.row.row-cols-12 .col {
  width: 8.3333333333%;
}

.header {
  position: relative;
  background-color: #ffc017;
  border-bottom: 1px solid #485963;
}
.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header .logo-img {
  height: 42px;
  width: 100px;
}

.header-blog {
  background-color: #ffffff;
  border-bottom: none;
}

.nav-list {
  display: flex;
  gap: 32px;
  align-items: center;
}
.nav-item {
  font-weight: 500;
}

.section-banner {
  background-color: #ffc017;
  padding: 10px;
}
.section-banner > div {
  display: flex;
}
.section-banner .banner-content {
  padding-right: 60px;
}
.section-banner .banner-img {
  padding: 19px 0;
}
.section-banner .banner-title {
  font-weight: 600;
  font-size: 85px;
  padding-bottom: 60px;
}
.section-banner .banner-desc {
  font-size: 24px;
}

.section-content {
  padding: 40px 0;
}
.section-content > div {
  display: flex;
}

.blog {
  padding: 20px 24px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
.blog:hover {
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.blog-item {
  width: 100%;
}
.blog-content {
  justify-content: space-between;
}
.blog-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.blog-author {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 8px;
}
.blog-author-img {
  border-radius: 50px;
}
.blog-title {
  font-size: 24px;
  padding: 16px 0;
}
.blog-desc {
  font-size: 16px;
  color: #485963;
}

.blog-action {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog-action .action-count {
  font-size: 12px;
  color: #485963;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside {
  padding-left: 100px;
}
.aside-title {
  font-weight: 600;
  padding-bottom: 16px;
}
.aside-discover {
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F2F2;
}
.aside-social {
  padding-top: 24px;
}

.social-list {
  display: flex;
  gap: 8px;
}
.social-link {
  padding: 4px 4px;
  border-radius: 4px;
  background-color: #ffc017;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-banner-blog {
  background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 80%), url(../../assets/img/banner-blog.jpg) lightgray center/cover no-repeat;
  height: calc(100vh - 74px);
  position: relative;
  display: flex;
  align-items: flex-end;
}
.section-banner-blog > div {
  max-width: 740px;
}
.section-banner-blog .banner-blog-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  color: #ffffff;
}
.section-banner-blog .banner-blog-title {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
}
.section-banner-blog .banner-blog-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.section-banner-blog .blog-author-infor {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section-banner-blog .blog-author-infor > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-banner-blog .share-list {
  display: flex;
  align-self: end;
  gap: 10px;
  align-items: center;
}

.section-blog-content > div {
  max-width: 740px;
}
.section-blog-content .blog-content-title {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
}

.section-blog-recommend {
  background-color: #042342;
  padding: 80px 0;
}
.section-blog-recommend .blog-recommend-title {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
}
.section-blog-recommend .recommend-img {
  border-radius: 6px 6px 0px 0px;
}
.section-blog-recommend .recommend-title {
  font-size: 24px;
  font-weight: 600;
}
.section-blog-recommend .recommend-content {
  background-color: #ffffff;
  padding: 32px 24px;
}
.section-blog-recommend .recommend-details {
  padding-top: 16px;
}
.section-blog-recommend .recommend-author-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-italic {
  font-style: italic;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}
.jc-space-bw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
}
.rounded-sm {
  border-radius: 8px;
  border: 1px solid red;
}
.rounded-bot-sm {
  border-radius: 0 0 6px 6px;
}

/*# sourceMappingURL=style.css.map */
