.header {
  &-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  &-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: map-get($color, black);
  }

  &-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  &-icons-list {
    width: 120px;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    max-width: 20px;
  }
  .header {
    &-mobile {
      display: block;
      width: 100vw;
      height: 72px;
      background-color: map-get($color, white);
    }
    &-desktop {
      display: none;
    }
    &-icons-list {
      max-width: 110px;
    }

    &-container {
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 20px 0;
      width: 327px !important;
    }
  }
}
