.d-flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}



.jc {
  &-center{
    justify-content: center;
  }

  &-space-bw{
    justify-content: space-between;
  }
}

.align{
  &-center{
    align-items: center;
  }
}

.rounded{
  &-circle{
    border-radius: 50%;
  }
  &-sm {
    border-radius: 8px;
    border: 1px solid red;
  }

  &-bot-sm {
    border-radius: 0 0 6px 6px;
  }
}


