@import "./../base/variables";


.section {
  &-banner {
    position: relative;
    height: 800px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
      url("../../assets/img/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}



